    .App {
    display: flex; /* 레이아웃을 구현하기 수월해지는 종류*/
    flex-direction: column; /* 수직 방향으로 배열한다는 뜻*/
    height: 100vh; /* 현재 브라우저에서 보이는 뷰포트 기준 100%의 높이를 가진다는 뜻*/
  }
  
  .App-header {
    position: fixed; /*스크롤을 내려도 계속 같은 자리에 있음*/
    top: 0;
    right: 0; /* 이 두가지가 0이기 때문에 맨 위 경계와 맨 오른쪽 경계에 딱 붙어있음. 중간에 여백 없이.*/
    width: 100%; /*부모 요소 또는 컨테이너의 너비의 100%로 설정한 것임.*/
    background-color: #e0e5ef;
    color: white; /* 요소 내 텍스트 색상 */
    padding: 1em; /*현재 글꼴 크기 정도를 뜻함. 2em은 현재 글꼴의 2배*/
    display: flex;
    justify-content: flex-end; /*이렇게 썼기 때문에 로그인, 회원가입이 오른쪽 끝에 가 있는 거임*/
    z-index: 1000; /* 숫자가 클수록 다른 요소에 비해 앞에 쌓임*/
  }
  
  .login-signup, .my-page-logout {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }
  
  .login-signup a, .my-page-logout a {
    text-decoration: none; /*이걸로 텍스트에 취소선을 긋거나 밑줄을 긋는 등의 꾸밈을 줄 수 있음*/
    margin: 0 10px; /* 위아래 여백은 0, 좌우 여백은 10이라는 뜻*/
  }
  
  .App-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* 컨테이너의 여유공간을 균등하게 나눠가짐*/
    padding: 2em;
    margin-top: 60px; /* Adjust based on header height */
    text-align: center;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 3em 1em;
  }
  
  .hero-text h1 {
    font-size: 2.7em;
    color: #070707;
    margin-bottom: 0.5em;
  }
  
  .hero-text p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  
  .cta-button {
    background-color: #a5bbe7;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer; /* 버튼 위에 커서를 올리면 손가락 모양으로 변함*/
    border: none;
  }
  
  .features, .how-it-works, .testimonials, .faq {
    margin: 2em 0;
  }
  
  .features h2, .how-it-works h2, .testimonials h2, .faq h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .feature-list {
    display: flex;
    justify-content: space-around;
  }
  
  .feature-item {
    text-align: center;
    width: 30%;
  }
  
  .feature-item img {
    max-width: 100%;
  }
  
  .testimonial-list {
    display: flex;
    justify-content: space-around;
  }
  
  .testimonial-item {
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 8px;
    width: 45%;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .faq-item {
    width: 80%;
    margin-bottom: 1em;
  }
  
  .footer-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer {
    text-align: center;
    margin-top: 2em;
  }